nav {
    background-color: $primary;
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-family: $headingFont;
            font-size: 1.6rem;
            letter-spacing: 0;
            line-height: 2.2rem;
        }
    }
}
header {
    background-color: $primary;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .headerContainer {
            img {
                position: relative;
                right: 28px;
                top: 40px;
            }
            h1 {
                position: relative;
                left: 20px;
                bottom: 60px;
            }
        }


        .imageContainer {
            width: 40%;
            position:relative;
            top: 40px;
            box-shadow: 10px 10px white;
        }
    }
}