.whois,
.about,
.journey {
    background-color: $secondary;
}

.favorite,
.travel {
    display: flex;
   
    .flexContainer, 
    .textContainer {
        display: flex;
        width: 50vw;
        height: 100%;
        position: relative;

        .imageContainer {
                position: relative;
                bottom: 15px;
                right: 15px;
            }
    }
}

.favorite {
    .flexContainer{
        justify-content: flex-end;
        background-color: $imageBkgColor1;
        bottom: 1.5rem;

    }
    .textContainer {
        padding-top: 20px;
        text-align: left;
    }
}
.travel {
    flex-direction: row-reverse;
    .flexContainer {
        justify-content: flex-start;
        background-color: $imageBkgColor2;
        top: 1.5rem;


    }
    .textContainer {
        text-align: right;
    }
}

.about  {
    padding: 120px 0 80px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            display: flex;
            // flex-wrap: wrap;
            // direction: column;
            .iconContainer {
                // justify-content: start;
                // align-self: flex-start;
                padding: 20px;
                p{
                    background-color: $primary;
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    text-align: center;
                }
                
                
                
            }
        }
    }
   
}


img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    }

.journey {
    .wrapper {
        display: flex;
        justify-content: space-between;

        // .imageContainer {
        //     // width: 30% ;
        // }
    }
}

.gallery {
    ul {
        display: flex;
        justify-content: space-between;
        li {
            margin: 40px 0;
            width: 30%;
        }
    }
}

