.whois,
.about,
.journey {
    background-color: $secondary;
}

.favorite,
.travel {
        display: flex;
        height: 520px; 
        .textContainer,
        .flexContainer {
            width: 50%;
            height: 100%;
        }
        .flexContainer{
            position: relative;
            height: 490px;
            .imageContainer {              
                position: relative;
                bottom: 15px;
                height: 100%;
                img {
                    width: 100%;                  
                }
            }
        }
}
.favorite {
    .flexContainer{
        justify-content: flex-end;
        align-content: flex-end;
        background-color: $imageBkgColor1;
        bottom: 15px;
        .imageContainer {
            width: calc(80%);
            left: calc(20% - 15px);
        }
    }
    .textContainer {
        padding: 50px 10% 20px 50px;
        text-align: left;
    }
}
.travel {
    flex-direction: row-reverse;
    .flexContainer {
        justify-content: flex-start;
        background-color: $imageBkgColor2;
        top: 15px;
        .imageContainer{
            width: 80%;
            right: 15px;
        }
    }
    .textContainer {
        padding: 0px 65px 50px 10%;
        text-align: right;
    }
}

.about  {
    padding: 120px 0 80px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            display: flex;
            .iconContainer {
                padding: 20px;
                p{
                    background-color: $primary;
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    text-align: center;
                }
                
                
                
            }
        }
    }
   
}


figure{
    margin: 0 0 0 0;
 img {
    width: 100%;
    object-fit: cover;
    }
}
.journey {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .imageContainer {
          width: 24%;
          position:  relative;
          box-shadow: 10px 10px $primary;
        }
        .textContainer {
            margin: 60px 0;
            width: 66%;
        }
    }
}

.gallery {
    ul {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        li {
            margin: 60px 0;
            width: 30%;
        }
    }
}

