/* site fonts */
$headingFont: 'Lora', serif;
$bodyFont: 'Roboto', sans-serif;

/* site colours */
$primary: #f6a823;
$secondary: rgb(240 239 237);
$fontColor: #2c2c2c;
$imageBkgColor1: #a82706;
$imageBkgColor2: #f6a823;
$buttonColor: #05afc1;
$buttonSelectedColor: #285e64;
$footerBkgColor: #4f4f4f;