html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* site fonts */
/* site colours */
html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #2c2c2c;
  font-size: 1rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
a,
button,
nav {
  text-transform: uppercase;
}

h1 {
  font-family: "Lora", serif;
  font-size: 4rem;
  line-height: 4.6rem;
  letter-spacing: 0px;
}

h2 {
  font-size: 2.1rem;
  margin-top: 0px;
  padding-top: 3rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 0px;
  padding-top: 1rem;
}

h4,
h5 {
  font-size: 1.2rem;
}

h5 {
  color: rgb(246, 246, 246);
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 0 0 30px 0;
}

ul,
li,
a,
input {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* site fonts */
/* site colours */
.wrapper {
  width: 80%;
  max-width: 1260px;
  margin: 0 auto;
}

button {
  background-color: #05afc1;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 0 5rem 0;
}
button:hover {
  background-color: #285e64;
}
button:focus {
  background-color: #285e64;
}

a {
  padding: 0px 35px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: rgb(240, 239, 237);
}
a:focus {
  color: rgb(240, 239, 237);
}

nav {
  background-color: #f6a823;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul span {
  font-family: "Lora", serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.2rem;
}

header {
  background-color: #f6a823;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper .headerContainer img {
  position: relative;
  right: 28px;
  top: 40px;
}
header .wrapper .headerContainer h1 {
  position: relative;
  left: 20px;
  bottom: 60px;
}
header .wrapper .imageContainer {
  width: 40%;
  position: relative;
  top: 40px;
  -webkit-box-shadow: 10px 10px rgb(240, 239, 237);
          box-shadow: 10px 10px rgb(240, 239, 237);
}

.whois,
.about,
.journey {
  background-color: rgb(240, 239, 237);
}

.favorite,
.travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
}
.favorite .textContainer,
.favorite .flexContainer,
.travel .textContainer,
.travel .flexContainer {
  width: 50%;
  height: 100%;
}
.favorite .flexContainer,
.travel .flexContainer {
  position: relative;
  height: 490px;
}
.favorite .flexContainer .imageContainer,
.travel .flexContainer .imageContainer {
  position: relative;
  bottom: 15px;
  height: 100%;
}
.favorite .flexContainer .imageContainer img,
.travel .flexContainer .imageContainer img {
  width: 100%;
}

.favorite .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: #a82706;
  bottom: 15px;
}
.favorite .flexContainer .imageContainer {
  width: 80%;
  left: calc(20% - 15px);
}
.favorite .textContainer {
  padding: 50px 10% 20px 50px;
  text-align: left;
}

.travel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.travel .flexContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f6a823;
  top: 15px;
}
.travel .flexContainer .imageContainer {
  width: 80%;
  right: 15px;
}
.travel .textContainer {
  padding: 0px 65px 50px 10%;
  text-align: right;
}

.about {
  padding: 120px 0 80px 0;
}
.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about ul li .iconContainer {
  padding: 20px;
}
.about ul li .iconContainer p {
  background-color: #f6a823;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
}

figure {
  margin: 0 0 0 0;
}
figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.journey .wrapper .imageContainer {
  width: 24%;
  position: relative;
  -webkit-box-shadow: 10px 10px #f6a823;
          box-shadow: 10px 10px #f6a823;
}
.journey .wrapper .textContainer {
  margin: 60px 0;
  width: 66%;
}

.gallery ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  margin: 60px 0;
  width: 30%;
}

footer {
  background-color: #4f4f4f;
}
footer p {
  text-align: center;
  padding: 10px 0;
  color: rgb(240, 239, 237);
  font-size: 1rem;
}

.contactHeader,
.blogHeader {
  height: 300px;
  background-size: cover;
}
.contactHeader h1,
.blogHeader h1 {
  position: relative;
  bottom: -195px;
}

.contactHeader {
  background-image: url("../assets/contact-image-1.jpg");
}

.blogHeader {
  background-image: url("../assets/blog-image-1.jpg");
}

.contactPage {
  background-color: rgb(240, 239, 237);
  padding: 100px 0;
}
.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .wrapper .contactInfoContainer {
  width: 30%;
  max-width: 360px;
  height: 320px;
  background-color: white;
  padding: 20px;
}
.contactPage .wrapper .contactInfoContainer .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contactPage .wrapper .contactInfoContainer .iconContainer img {
  display: block;
  padding: 20px 20px 10px 0;
}
.contactPage .wrapper .formContainer {
  padding-left: 30px;
  width: 70%;
}
.contactPage .wrapper .formContainer .contactForm .inputInSameLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .wrapper .formContainer .contactForm input[type=text],
.contactPage .wrapper .formContainer .contactForm input[type=email] {
  border: 0;
  padding: 20px;
  width: 49%;
  margin-bottom: 20px;
  font-style: italic;
}
.contactPage .wrapper .formContainer .contactForm textarea {
  padding: 30px 20px;
  font-style: italic;
}
.contactPage .wrapper .formContainer .contactForm textarea,
.contactPage .wrapper .formContainer .contactForm button {
  border: 0;
  margin-bottom: 20px;
  width: 100%;
}

.blogPage {
  background-color: rgb(240, 239, 237);
  padding-top: 100px;
}
.blogPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPage .wrapper aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogPage .wrapper aside div {
  margin-bottom: 20px;
  height: auto;
  background-color: white;
  padding: 25px;
}
.blogPage .wrapper aside .recentPosts p {
  padding-left: 40px;
}
.blogPage .wrapper article {
  width: 70%;
  padding-left: 30px;
  background-color: rgb(240, 239, 237);
}
.blogPage .wrapper article span {
  color: #285e64;
  font-style: italic;
}
.blogPage .wrapper article .blogContent,
.blogPage .wrapper article .comment02 {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #f6a823;
  margin-bottom: 35px;
}
.blogPage .wrapper article div {
  margin-bottom: 20px;
  background-color: white;
  padding: 25px;
}
.blogPage .wrapper article .blogComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blogPage .wrapper article .blogComment h5 {
  color: #285e64;
}
.blogPage .wrapper article .blogComment .imageContainer {
  width: 16%;
  padding-right: 20px;
}
.blogPage .wrapper article .blogComment .textContainer {
  width: 88%;
  padding-left: 0;
}
.blogPage .wrapper article .blogComment .textContainer h5 {
  margin-top: 0;
}
.blogPage .wrapper article .formContainer {
  margin-bottom: 50px;
}
.blogPage .wrapper article .formContainer .contactForm .inputInSameLine {
  background-color: rgb(240, 239, 237);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPage .wrapper article .formContainer .contactForm input[type=text],
.blogPage .wrapper article .formContainer .contactForm input[type=email] {
  border: 0;
  padding: 20px;
  width: 48%;
  margin: 20px 0 0 0;
  font-style: italic;
}
.blogPage .wrapper article .formContainer .contactForm textarea {
  padding: 30px 20px;
  font-style: italic;
}
.blogPage .wrapper article .formContainer .contactForm textarea,
.blogPage .wrapper article .formContainer .contactForm button {
  border: 0;
  margin-bottom: 20px;
  width: 100%;
}

/* 320px mobile devices */
@media (max-width: 320px) {
  html {
    font-size: 100%;
  }
  .wrapper {
    width: 100%;
  }
  button {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4,
h5 {
    font-size: 1rem;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav ul span {
    display: none;
  }
  header img {
    display: none;
  }
  header h1 {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .favorite .flexContainer,
.travel .flexContainer {
    display: none;
  }
  .favorite .textContainer,
.travel .textContainer {
    width: 100%;
    padding: 10px 0;
  }
  .about {
    padding: 0;
  }
  .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .about ul li {
    width: 100%;
  }
  .about ul li .iconContainer {
    padding: 10px;
  }
  figure {
    display: none;
  }
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey .wrapper .imageContainer,
.journey .wrapper .textContainer {
    width: 90%;
  }
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery ul li {
    width: 100%;
    margin: 5px 0;
  }
  .contactHeader,
.blogHeader {
    height: 100px;
  }
  .contactHeader h1,
.blogHeader h1 {
    bottom: -60px;
  }
  .contactHeader .contactPage,
.blogHeader .contactPage {
    padding: 0;
  }
  .contactHeader .contactPage .wrapper,
.blogHeader .contactPage .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactHeader .contactPage .wrapper .contactInfoContainer,
.blogHeader .contactPage .wrapper .contactInfoContainer {
    width: 100%;
  }
}